{extend name="base"/}
{block name="title"}
    众筹项目记录
{/block}
{block name="css"}
<link rel="stylesheet" href="__MOBILE__/css/fanStyle.css"/>
<link rel="stylesheet" href="__MOBILE__/css/meCen.css"/>
<link rel="stylesheet" href="__MOBILE__/js/layui/css/layui.css"/>
{/block}

{block name="content"}
	<div class="header">
	    <div class="header_l">
	    <a href="javascript:history.back(-1);"><img src="__MOBILE__/images/jiant.png" alt=""></a>
	    </div>
	    <div class="header_c"><h2>{:lang('众筹项目记录')}</h2></div>
	    <div class="header_r"></div>
	</div>
       <div class="big_width100">
           <div class="big_crowds">
                    <div class="zwshj">
                        <div class="yugejil"  style="width: 100%;" >
                                <p style="width:20%;">{:lang('名称')}</p>
                                <p style="width:20%;">{:lang('数量')}</p>
                                <p style="width:20%;">{:lang('总价')}</p>
                                <p style="width:40%;">{:lang('时间')}</p>
                        </div>
                        <div id="wrapper1" style="width: 100%;" >
                            {foreach $list as $k=>$vo}
                            <div class="scroller">
                                <ul>    
                                    <li>
                                        <p style="width:20%;">{$vo['name']}</p>
                                        <p style="width:20%;">{$vo['num']}</p>
                                        <p style="width:20%;">{$vo['money']}</p>
                                        <p style="width:40%;">{$vo['create_time']|date='Y-m-d H:i'}</p>
                                    </li>
                                </ul>
                            </div>
                            {/foreach}
                        </div>
                    </div>
           </div>
	   </div>
{/block}
{block name="js"}
{/block}