{extend name="base"/}
{block name="css"}
	<style type="text/css">
		.layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
		@media(max-width:1240px){
			.layui-form-item .layui-inline{ width:100%; float:none; }
		}
	</style>
{/block}
{block name="content"}
	<form class="layui-form" style="width:80%;" method="post" action="">
		<div class="layui-form-item">
			<label class="layui-form-label">账号</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input userName" lay-verify="required" name="name" autocomplete="off" placeholder="请输入账号">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-block">
				<input type="password" name="password" lay-verify="pass" class="layui-input" autocomplete="off" placeholder="请输入密码6-12位">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">权限角色</label>
			<div class="layui-input-block">
				<select name="role_id" lay-verify="">
						{foreach $list as $key=>$vo } 
						<option value="{$vo.id}">{$vo.name}</option>
						{/foreach}
				  </select>     
			</div>
		</div>
		{:token()}
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="addadmin">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
{/block}
{block name="js"}
	<script type="text/javascript" src="__ADMIN__/js/allUsers.js"></script>
{/block}