{extend name="base" /}
{block name="css"}
<style>
        .layui-elem-quote{background: rgba(0,0, 0, 0.3);border-left: 5px solid rgba(0, 150, 136, 0.5);}
		.layui-elem-quote .layui-btn{background: rgba(0, 150, 136, 0.5);}
		.layui-table thead tr{background: rgba(0,0, 0, 0.4);}
		.layui-table{color: #fff;background: rgba(0,0, 0, 0.3);}
        .layui-table-hover{background: rgba(0,0, 0, 0.4) !important;}
        .label{color: #fff !important;}
        .layui-input-block{color:#fff;}
        body{background-image: none !important;}
</style>
{/block}
{block name="content"}
	
<table class="layui-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>图片</th>
            <th>日期</th>
            <th>名称</th>
            <th>操作</th>
        </tr>
    </thead>
               
    <tbody>
        {foreach $imgs as $img}
            <tr>   
                <td>{$img['id']}</td>
                <td><img height="40px" width="80px" src="{$img['img']}" /></td>                                                                   
                <td>{$img['create_time']}</td>
                <td>{$img['title']}</td>
                <td>
                    <a name="edit" title="编辑" class="label label-primary-outline label-pill" href="{:url('admin/Index/editBanner',['id'=>$img['id']])}">编辑</a>
                </td>  
            </tr>
        {/foreach}

    </tbody>
</table>

{/block}
{block name="script"}

{/block}

