{extend name="base"/}
<body class="childrenBody">
{block name="content"}
<form class="layui-form" id="areaForm" enctype="multipart/form-data">
		<div class="layui-form-item">
			<label class="layui-form-label">区号名称</label>
			<div class="layui-input-block">
				<input type="text" name="areaname" class="layui-input newsName" lay-verify="required" value="{$area.areaname}" placeholder="请输入公告标题">
				<input type="hidden" name="id" class="layui-input newsId" value="{$area.id}">

			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">区号</label>
			<div class="layui-input-block">
				<input type="text" name="area" class="layui-input newsName" lay-verify="required" value="{$area.area}" placeholder="请输入公告简介">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="editNews">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
{/block}
{block name="js"}<script type="text/javascript" src="__ADMIN__/js/addArea.js"></script>{/block}
