{extend name="base"/} {block name="title"} 确认收款 {/block} {block name="css"}
<link rel="stylesheet" href="__MOBILE__/css/yangStyle.css">
<style>
</style>
{/block} {block name="content"}
<div class="header">
    <div class="header_l">
        <a href="{:url('/mobile/Growth/buycenter')}">
            <img src="__MOBILE__/images/jiant.png" alt="">
        </a>
    </div>
    <div class="header_c">
        <h2>{:lang("确认收款")}</h2>
    </div>
    <div class="header_r"></div>
</div>

<div class="demo">
    <div class="accordion">
        {empty name="list" }
        <ul class="pagination">
                <div style="margin-top:1.2rem;text-align: center;color: #999;">
                <span class="rows">{:lang("没有相关内容")}</span>
            </div>
        </ul>


        {else} {foreach name="list" id="v"}
        <div class="accordion-handle">
            <h4>
                <p class="accmrp">{:lang("卖出金额")}：{$v.money}
                    <span class="acco_con_spana">{:lang("确认收款")}</span>
                </p>
                <p>{$v.update_time}
                    <span>{:lang("打款人")}：{$v.buy_id?$v.user.nickname:''}</span>
                </p>
            </h4>
            <i></i>
        </div>
        <div class="accordion-content por">
            <div class="acco_con_up">
                <p>{:lang("打款人姓名")}：
                    <span>{$v.buy_id?$v.user.nickname:''}</span>
                </p>
                <p>{:lang("手机号码")}：
                    <span>{$v.buy_id?$v.user.mobile:''}</span>
                </p>

                <p>{:lang("交易金额")}：
                    <span>{$v.buy_id?$v.tomoney:''}RMB</span>
                </p>
                <p>{:lang("状态")}：
                    <span class="acco_con_spana">{:lang("确认收款")}</span>
                </p>
            </div>
            <div class="acco_con_upa">
                <h3>{:lang("上传打款截图")}</h3>
                <div class="shangcjt">

                    <div class="containera">
                        <a href="/mobile/Growth/paidimg?id={$v['id']}">
                            <img src="{$v.pic}" class="img">
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="{$v.status==2?'paid':'lanseanna'}" data-id="{$v['id']}">{:lang("确认已收款")}</a>
        </div>
        {/foreach} {/empty}
    </div>
</div>

{/block} {block name="js"}
<script type="text/javascript" src="__MOBILE__/js/responsive.tabs.js"></script>
<script>
    $(document).ready(function () {
        $('.accordion,.changeclass').respTabs({
            model: 'accordions'
        });
    });

    $('.lanseanna').click(function () {
        var old = $(this);
        var trid = $(this).attr('data-id');
        if (trid == '') {
            msg_alert('{:lang("请选择正确的收款")}');
            return false;
        }
        var img = $('.img').attr('src');
        if (img == '') {
            msg_alert('{:lang("未上传凭证")}');
            return false;
        }
        $.ajax({
            url: '',
            type: 'post',
            data: { 'trid': trid },
            datatype: 'json',
            success: function (mes) {
                if (mes.status == 1) {
                    old.parents('.changeclass').find('.acco_con_spana').text('{:lang("已收款")}');
                    old.text('{:lang("已收款")}');
                    old.addClass('paid').removeClass('lanseanna');
                    msg_alert(mes.msg);
                } else {
                    msg_alert(mes.msg);
                }
            }
        })
    })
</script> {/block}