{extend name="base"/} {block name="title"} 卖出记录 {/block} {block name="css"}
<link rel="stylesheet" href="__MOBILE__/css/yangStyle.css">
<style>
    body {
        background: #ccc;
    }

    #wrapper li {
        box-sizing: content-box;
        background: #fff;
    }
</style>
{/block} {block name="content"}
<div class="header">
    <div class="header_l">
        <a href="{:url('/mobile/Growth/buycenter')}"><img src="__MOBILE__/images/jiant.png" alt=""></a>
    </div>
    <div class="header_c">
        <h2>{:lang('卖出记录')}</h2>
    </div>
    <div class="header_r"></div>
</div>
<div class=" ">

    <div class="yugejil">
        <p>{:lang('买入账号')}</p>
        <p>{:lang('卖出金额')}</p>
        <p>{:lang('卖出时间')}</p>
    </div>

    <div id="wrapper">
        <ul>
            {foreach name="list" item="v"}
            <li>
                <p>
                    <eq name="v.sell_id" value="0">
                        <else/>({$v.user.nickname})
                    </eq>
                </p>
                <p>{$v['money']}</p>
              	{if $v.status == 0}
                <p class="p24">等待交易</br></p>
      			{elseif $v.status == 3}
      			<p class="p24">交易取消</br></p>
				{else/}
				<p class="p24">{$v['update_time']}</br></p>
				{/if}
            </li>
            {/foreach}
        </ul>
        <div class="scroller" style="overflow: hidden;">
            <input type="hidden" value="1" class="pagen">
            <input type="hidden" value="0" class="isover">
            <div class="more" style="display: none">
                <i class="pull_icon"></i>
                <span>{:lang('上拉加载')}...</span>
            </div>
        </div>
    </div>
</div>
{/block} {block name="js"}
<script type="text/javascript" src="__MOBILE__/js/trading/sellerrecords.js"></script>
{/block}