{extend name="base"/}
{block name="css"}
 <style>
	td[data-field=head_img] .layui-table-cell {
		height: 80px;
    }
    .layui-elem-quote{background: rgba(0, 0, 0, 0.3);}
    .layui-table thead tr{background: rgba(0,0, 0, 0.4);}
	.layui-table{color: #fff;background: rgba(0,0, 0, 0.3);}
    .layui-table-hover{background: rgba(0,0, 0, 0.4) !important;}
    .layui-table-body .layui-none {color: #fff;}
    .layui-input{background: rgba(0, 0, 0, 0.3);}
    body{background: none !important;}
</style>
{/block}
{block name="content"}
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline demoTable" style="width: 100%">
        <div class="layui-input-inline" style="width: 100%">
            <input type="text" class="layui-input searchVal" name="keyword" id="demoReload" placeholder="请输入购买者UID" style="width: 10%;display: inline-block;">
            <select name="status" class="layui-input searchVal" id="demoReload2" style="width: 10%;display: inline-block">
                <option value=""  >请选择众筹名称</option>
                {foreach $crowdInfo as $key=>$vo}
                    <option value="{$vo.id}">{$vo.name}</option>
                {/foreach}
            </select>
            <a class="layui-btn search_btn"  data-type="reload">搜索</a>
        </div>
    </div>
</blockquote>
<table id="list" lay-filter="crowd" ></table>
<script type="text/html" id="titleTpl">
	<img src="{{d.head_img}}" width="80px"/>
</script>
{/block}
{block name="js"}
<script type="text/javascript" src="__ADMIN__/js/crowdList2.js"></script>
{/block}
