/* index/index */

/*会员首页*/
.wen-header{text-align: center;color:#fff;padding-bottom:.2rem;width: 100%;background: url(../images/index/header_bgs.png) 0 0 no-repeat /100% 100%;}
.header-info{width: 100%;padding: .4rem}
.wen-header .icon{width: 1.2rem;height: 1.2rem;border-radius: 50%;margin-bottom: .2rem;}
.fan-header{text-align: center;color:#fff;height: 2.4rem;width: 100%;background: url(../images/index-header.png) 0 0 no-repeat /100% 100%;display: flex;flex-direction: column;align-items: center;justify-content: center;box-shadow: 0 8px 5px #c5c5c5;}
.fan-header .icon{display: inline-block;width: 1.2rem;height: 1.2rem;border-radius: 50%;margin-bottom: .2rem;}
.header-money{align-items: center;width: 100%;padding: .2rem 0}
.header-money li{flex:1;}
.header-money li a{display: flex;flex-direction: column;justify-content: space-between;height:.8rem;font-size: .28rem;color: #f1ad46 }
.header-money li.center a{border-left:1px solid #f1ad46; border-right:1px solid #f1ad46;}
/* .header-money li.center p{padding: .15rem 0;border: 1px solid #ff9923;border-top: none;border-bottom: none;} */
.header-btn{margin-top: .6rem}
.header-btn li{flex:1;}
.header-btn li a{font-size: .28rem}
.header-btn li i{font-size: .8rem}
.header-btn li p{margin-top: .1rem;}
.record_list{width: 100%;text-align: center;}
.record_list a{display: block; flex:1;padding: .2rem 0;background-color: #f5f5f5}
.record_list a span{display: block;padding: .1rem 0;}
.record_list a.on{background: #fff;border-top-right-radius: .1rem;}
.list_thred{width: 100%;text-align: center;padding: .2rem 0;border-bottom: 1px solid #ddd;}
.list_thred p{flex: 1;}
.list_content{width: 100%;position: absolute;display: none;}
.addlist{ width: 100%;text-align: center;padding: .2rem 0;}
.addmore{width: 100%;padding: .2rem 0;cursor: pointer;}
.content_box .active{display: block;}
.list_content li{display:flex;text-align: center;align-items: center;border-bottom: 1px solid #ddd;padding: .3rem 0;}
.list_content li p{flex: 1;}
.load{display: none}
.userInfo{ width: 80%; float: left;}
.userInfo .toux_icon{ float: left; width: .8rem; height: .8rem; margin-top: .1rem; margin-left: .2rem;}
.userInfo .toux_icon img{ width: .8rem; border-radius: 50%; border: 2px solid #fff;}
.userInfo .uid_xy { float: left; height: .68rem; margin-top: .1rem; margin-left: .2rem; text-align: left;}
.userInfo .uid_xy  p{ font-size: .28rem; color: #fff; line-height: 1.3; }
.userInfo .uid_xy  p span{ margin-left: 1px;}
.userInfo .uid_xy  p span img{ width: .24rem }
.centBalance{padding:0 .2rem ; height:2.64rem;  overflow: hidden; display: flex;align-items: center;justify-content: space-between;}
.centBalance .Balance img{width: .9rem;height: .9rem;}
.centBalance .Balance a{display: flex;flex-direction: column;justify-content: center;align-items: center;padding-top: .2rem;}
.centBalance .Balance .info{height: 50px;margin-top: .2rem;text-align: center;}
.centBalance .Balance p{ text-align: center; color: #333; line-height: 1.2;margin-bottom:5px;  font-size: .28rem;}
.centBalance .Balance  strong{  font-size: .28rem; color:#BC0000}
.cen_icon{ width: 100%;overflow: hidden;background: #fff }
.cen_icon ul{ width: 100%;}
.cen_icon ul li{ background: #fff; width: 33.3%; float: left;  padding: .16rem 0; border-right: 1px solid #D2E9FD;border-bottom: 1px solid #D2E9FD}
.cen_icon ul li:nth-child(3n){border-right: none;}
.cen_icon ul li a{width: 100%; display: block;}
.cen_icon ul li img{ width: 40%; display: block; margin: 0px auto}
.cen_icon ul li p{ color: #000; text-align: center; font-size: .28rem;}
.user_header{display: none; position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.8);pointer-events: auto;z-index: 99999;text-align: center;color: #fff;}
.header_img_box{width: 100%;padding-top: 2rem;}
.header_img_box span{padding-top: .2rem;display: block;margin: 0 auto;}
.header_img_box div{width: 3rem; height: 3rem;overflow: hidden;position: relative;margin: 0 auto;}
.user_header img{ width: 2.5rem; height: 2.5rem; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; }
.header_img_box div input{position: absolute;width: 100%;height: 100%;left: 0;top: 0;opacity: 0;}
.user_header .set_img{position: fixed;bottom: 2rem; width: 100%;color: #fff;font-size: .28rem;}
.user_header .set_img div,.user_header .set_img button{color:#fff;width: 80%;height:1rem;line-height:1rem;background: #ff992e;position: relative;margin: 0 auto;margin-top: .2rem;border-radius: .1rem;}
.user_header .set_img div{background: #666}
/* banner */
.myimg{width: 100%;height:2.4rem;position: relative;overflow: hidden;top: 0;left: 0;}
.imgbox{width:100%;height:100%;}
.imgbox img{width:100%;height:100%;} 
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0.1rem;}
.swiper-pagination-bullet-active{background: #ccc;}
/* login */
.header_back {position: absolute;top: .2rem;left: .2rem;}
.header_back img{width: .5rem;}
.login-container{width: 100%;padding-bottom: 1rem;}
.language{width: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;padding: .5rem .3rem}
.language button{font-size: .32rem;color: #0ca2e8;margin-left: .2rem}
.yuyan{font-size: .32rem;color: #b5c3b7;display: flex;align-items: center;}
.yuyan select{font-size: .28rem;background: none;border: none;color: #b5c3b7;outline: none;} 
.yuyan option{color: rgb(4,18,53);}
/* .logo{ width:100%; text-align: center;position: relative;top: -0.95rem} */
.logo img{ width: 1.9rem; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; }
.formbox{ width: 80%;margin: 0 auto; margin-top: 4rem;}
.formlogin{width:90%;margin: 0 auto;color: #fff;font-size: .28rem;}
.input_box{width: 100%;margin-top: .5rem;display: flex;align-items: center;}
.input_box span{font-size: .42rem;margin-right: .2rem;color: white;}
.input_box input{ 
    /*width: 100%;*/
    font-size:.28rem;flex: 1;   border-bottom: 1px solid white;color: white;}
.inde-btn{ text-align: center; }
.inde-btn button{font-size: .28rem; margin:.8rem 0; width: 100%; padding: .2rem 0; background: #0ca2e8; color: #fff; border-radius:.1rem; -webkit-border-radius:.1rem; -moz-border-radius:.1rem; -ms-border-radius:.1rem; -o-border-radius:.1rem; }
.extra_btn{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.extra_btn a{ background: #0ca2e8; padding: .2rem .4rem; border-radius: .1rem; color: #fff; -webkit-border-radius: .1rem; -moz-border-radius: .1rem; -ms-border-radius: .1rem; -o-border-radius: .1rem; }
/* register */
.register-title{color: #fff;font-size: .5rem;text-align: center;padding: .5rem 0;letter-spacing: .1rem;text-indent: .1rem;}
.formrgister{width: 90%;margin:0 auto;font-size: .28rem;}
.register-container .formbox{margin-top: .5rem;}
.formrgister .input_box{margin-top: .5rem;}
.formrgister .input_box p{color: #cfbdb4}
.formrgister .inde-btn button{margin: .5rem 0;}
.register-container .extra_btn{-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;margin: .5rem 0 1rem 0;}
.input_box .input-code{width: 100%;}
.code_box{position: relative;padding-top: .3rem}
.input_box .input-code img{ width: 35%;height: .66rem; border-radius:.4rem; -webkit-border-radius:.4rem; -moz-border-radius:.4rem; -ms-border-radius:.4rem; -o-border-radius:.4rem; position: absolute;right: 0;top: 0;}
.input_box .phone-code{position: relative;width: 100%}
.input_box .phone-code a{display: block;color:#fff;font-size:.28rem;position: absolute;right: 0;top: 0;}
.extra_reg{width: 80%;margin: 0 auto;text-align: center}
.extra_reg a{color: #fff;width: 90%;display: block;margin: 0 auto;padding: .2rem 0;border: 2px solid #0ca2e8;border-radius: .1rem;}
/* getpsw */
.formgetpsw .input_box p{color: #fff}
.formgetpsw .input_box {margin-top: .5rem;}
.getpwd-title{padding-top:1rem}
/* uesr/index */
.user-top{width: 100%;background: url(../images/index/header_bgs.png) 0 0 no-repeat /100% 100%;padding: 1rem 0 .5rem 0;}
.user-head {width: 100%;text-align: center;}
.user-head img{ width: 1.2rem; height: 1.2rem; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;}
.user-top-msg{width: 100%;display: flex;align-items: center;margin-top: .5rem}
.user-top-msg li{flex: 1;color: #ff992e;text-align: center;font-size: .28rem}
.vip-set{width: 100%;text-align: center;height: 1.4rem;line-height: 1.4rem;background: #faf9ef;color: #0d8df6;font-size: .38rem;}
.setlistbox{width:100%;background: #fff}
.set_in{padding: .4rem .2rem .2rem .2rem;border-bottom: 1px solid #ddd;}
.set_title{font-size: .32rem;border-left: 2px solid #ff992e;padding-left: .1rem;margin-bottom: .1rem}
.setlistbox ul{background: #fff;display: flex;}
.setlistbox ul li{flex: 1;text-align: center;padding: .2rem 0;}
.setlistbox ul li:nth-child(2) a{border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
.setlistbox ul li a{width:100%;display: flex;justify-content: space-between;align-items: center;font-size: .28rem}
.setlistbox ul li a div{margin: 0 auto}
.setlistbox ul li a div i{font-size: .52rem;}
.setlistbox ul li a div span{margin-top: .2rem;display: block;}
.setlistbox ul li img{width: .8rem;}
/* .setlistbox ul li a p{color: #000;font-size: .24rem;padding: .1rem 0;} */
.setlistbox ul.twolist li{width: 50%;}
.setlistbox ul.twolist li:nth-child(2){border-right: none;}
.setlistbox ul.twolist li a{display: flex;align-items: center;margin-left: .6rem;}
.loginout{width: 100%;margin: .5rem 0 1.5rem 0;}
.loginout a{font-size: .28rem; display: block; border-radius:.4rem;margin: 0 auto; width: 60%; padding: .2rem; text-align: center; background: #ff992e; color: #fff; -webkit-border-radius:.4rem; -moz-border-radius:.4rem; -ms-border-radius:.4rem; -o-border-radius:.4rem; }
/* user/setname */
.big_width100{ width: 100%;margin: 1rem auto;}
.nic_xiu {width: 100%;padding: .24rem 5%;border-bottom: 1px solid #ddd;background: #fff;}
.nic_xiu input {font-size: .28rem;border: none;color: #000;line-height: .48rem;width: 100%;height: .48rem;}
.buttonGeoup {width: 94%;margin: 0 auto; margin-top: .6rem;}
.buttonGeoup .not_next {width: 100%;display: block;text-align: center;background: #ff992e;height: .8rem;line-height: .8rem;color: #fff;font-size: .32rem;border-radius: .1rem;margin-bottom: .2rem;-webkit-border-radius: .1rem;-moz-border-radius: .1rem;-ms-border-radius: .1rem;-o-border-radius: .1rem;}
/* cardinfos */
.addBankCard {width: 94%;border-radius: 5px;background: #ff992e;padding: 5px 3%;margin: 0 auto;margin-top:1.2rem;  margin-bottom: .6rem; }
.addBankCard a{width: 100%;display: block;overflow: hidden;}
.addBankCard img {float: left;display: block;width: 40px;}
.addBankCard p {line-height: 40px;font-size: 16px;color: #fff;margin-left: 15px;float: left;}
/* about */
.AnnouncementDetails {background: #fff;width: 100%;}
.AnnouncementDetails_de {width: 90%;margin: 10px 5%;color: #000;line-height: 30px;font-size: 14px;}
.AnnouncementDetails_de p {margin-bottom: 5px;line-height: 2;}
/* setpwd */
.add_bank_add_gr {width: 100%;padding-left: 5%;background: #fff;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.fill_sty {width: 100%;background: #fff;margin-top: 10px;}
.add_gr_b10 {border-bottom: 1px solid #ddd;margin-top: 0px;}
.mababno {border-bottom: none;}
.fill_sty p {width: 20%;font-size: 14px;color: #000;line-height: 24px;height: 24px;padding: 11px 0;margin-left: 4%;text-align: left;}
add_gr_b10 p {margin-left: 0px;margin-right: 15px;}
.fill_sty input {width: 65%;font-size: 14px;border: none;color: #000;line-height: 24px;margin: 11px 0;padding: 0;}
.wangjmim_se {text-align: right;line-height: 24px;margin-top: 10px;font-size: 12px;color: #ff992e;margin-right: 10px;}
.wangjmim_se a {color: #f30000;}
/* complaint */
.opiniontop_d {width: 100%;background: #fff;padding: 0 5%;}
.opiniontop {width: 100%;padding: 5px 0%;line-height: 30px;border-bottom: 1px solid #ddd;}
.opiniontop p {font-size: 14px;color: #e60012;}
.opinion {width: 100%;padding: 5px 0%;line-height: 30px;border-bottom: 10px solid #ddd;}
.opinion textarea {width: 100%;border: none;height: 120px;font-size: 14px;color: #000;outline: none}
.container {width: 100%;height: 100%;overflow: auto;clear: both;}
.z_photo {width: 92%;height: auto;padding: 3%;overflow: auto;clear: both;margin: 0 auto;margin-bottom: 10px;border-bottom: 1px solid #ddd;}
.z_file {width: 1rem;height: 1rem;background: url(../images/z_add.png) no-repeat;background-size: 100% 100%;float: left;margin-right: 0.4rem;}
.z_file input#file {display: block;width: auto;border: 0;vertical-align: middle;opacity: 0;}
.z_mask {width: 100%;height: 100%;background: rgba(0, 0, 0, .5);position: fixed;top: 0;left: 0;z-index: 999;display: none;}
.z_alert {width: 3rem;height: 2rem;border-radius: .2rem;background: #fff;font-size: .24rem;text-align: center;position: absolute;left: 50%;top: 50%;margin-left: -1.5rem;margin-top: -2rem;}
/* news */
.genggao {width: 100%;}
.genggao li {background: #fff;margin-bottom: .2rem;padding: .2rem 5%;width: 100%;}
.genggao li a {display: block;background: url(../images/jiantt.png) no-repeat right center; background-size: 0.3rem 0.3rem;}
.genggao li a .gonggao_l {width: 90%;}
.genggao li a .gonggao_l h2 {width: 100%;line-height: 0.6rem;color: #000;font-weight: 500;font-size: .32rem;position: relative;height: .6rem;border-bottom: 1px solid #f6f6f6;}
.genggao li a .gonggao_l h2 strong {width: 63%;overflow: hidden;display: block;}
.genggao li a .gonggao_l h2 span {font-size: .24rem;color: #999;right: 0;display: block;top: 0;height: .6rem;line-height: .6rem;position: absolute;}
.genggao li a .gonggao_l p {font-size: .28rem;line-height: .6rem;color: #333;width: 100%;overflow: hidden;}
/* newsdetail */
.AnnouncementDetails {background: #fff;width: 100%;}
.annDe_h2 {height: .8rem;line-height: .8rem;overflow: hidden;padding: 0 5%;width: 100%;text-align: center;font-size: .36rem;color: #000;border-bottom: 1px solid #ddd;}
.AnnouncementDetails_de {width: 90%;margin: .2rem 5%;color: #000;line-height: .6rem;font-size: .28rem;}
.qindHB_bg{
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
}

.qindHB{
    position: absolute;
    z-index: 101;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 1;   
}
.qindHB_nb{
   z-index: 102;
   width: 100%; position: relative;
}

.qindHB_nb a {
    width: 100%; display: block; margin-top: .7rem;text-align: center;
}
.qindHB_nb a img{
   z-index: 104;
   width: 70%;
}

.qinb_imga{  
    /* height: 6rem; */
    width: 70%;
    margin: 0 auto; display: block;  
    margin-top: 1.5rem;
 }

.qiandHB_wz{ position:absolute; top:1.9rem; width: 50%; left: 25%; text-align: center; }
.qiandHB_wz h3{    font-size: .6rem;
    border-bottom: 1px dotted rgba(217, 45, 45, 0.4);
    color: #fdde9e;
    line-height: 1.4rem;
    font-weight: 600;}
.qiandHB_wz p{ font-size: .4rem; color: #d92d2d; line-height: 1rem; font-weight: 900;}


























