{extend name="base"/}

{block name="content"}
<form id="userform" class="layui-form" style="width:80%;" enctype="multipart/form-data">
	<div class="layui-form-item">
		<label class="layui-form-label">类别名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input dataIntegral" name="type_name" value="{$data.type_name}"   placeholder="请输入">
			
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">图片上传</label>
		<div class="layui-input-block">
			<div class="layui-input-inline">
				<button type="button" class="layui-btn" id="test1">
					<i class="layui-icon">&#xe67c;</i>上传图片
				  </button>
					<p id="demoText"></p>
			</div>
			<div class="layui-input-inline">
				<img id="preview" width="80px" src="" >
			</div>

		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">排序</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input dataIntegral" name="sort" value="{$data.sort}"   placeholder="请输入">
			<input type="hidden" name="typeid" value="{$data.typeid}" >
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="editadmin">立即提交</button>
			<!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
		</div>
	</div>
</form>
	
{/block}
{block name="js"}
	<script type="text/javascript" src="__ADMIN__/js/shoptype.js"></script>
{/block}