{extend name="base"/}
{block name="css"}
	<link rel="stylesheet" href="__ADMIN_/css/user.css" media="all" />
	<style>
	.layui-elem-quote{background: rgba(0,0, 0, 0.3);}
	.layui-elem-quote .layui-btn{background:#009688;}
	.layui-table thead tr{background: rgba(0,0, 0, 0.4);}
	.layui-table{color: #fff;background: rgba(0,0, 0, 0.3);}
	.layui-table-hover{background: rgba(0,0, 0, 0.4) !important;}
	body{background: none !important;}
	</style>
{/block}
{block name="content"}
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal adminAdd_btn">添加类别</a>
		</div>
		<!-- <div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
		</div> -->
		<div class="layui-inline">
			<div class="layui-form-mid layui-word-aux">　</div>
		</div>
	</blockquote>
	<div class="layui-form users_list">
	  	<table class="layui-table" lay-filter="admins">
		    <colgroup>
				<col>
				<col>
		    </colgroup>
		    <thead>
				<tr>
					<!-- <th>店铺id</th> -->
					<th>店铺类别</th>
					<th>排序</th>
					<th>图片</th>
					<th>时间</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="users_content">
		{foreach $admin_list as $v}
			<tr>
				
				<td>{$v.type_name}</td>
				<td>{$v.sort}</td>
				<?php
				
				$res=str_replace('\\','/',$v['image']);
			
				?>
				<td><img style="width:50px;"src="/{$res}" alt=""></td>
				<td>{$v.create_time}</td>
				<!-- <td>{$v.typeid}</td> -->
				<td>
						 <a class="layui-btn layui-btn-danger  layui-btn-sm admins_del" data-id="{$v.typeid}" ><i class="layui-icon"></i> 删除</a>
						<a class="layui-btn layui-btn-success layui-btn-sm admins_edit" data-id="{$v.typeid}" ><i class="layui-icon"></i> 修改</a>
					
				</td>
			</tr>
		{/foreach}
			</tbody>
		</table>
	</div>
	<div id="page"></div>
{/block}

	{block name="js"}<script type="text/javascript" src="__ADMIN__/js/shoptype.js"></script>{/block}
