{extend name="base"/}
{block name="title"}投诉建议{/block}
{block name="css"}
<link rel="stylesheet" href="__MOBILE__/css/wenStyle.css"/>
{/block}
{block name="content"}
<div class="header">
    <div class="header_l">
        <a href="javascript:history.go(-1)"><img src="__MOBILE__/images/jiant.png" alt=""></a>
    </div>
    <div class="header_c">
        <h2>{:lang('投诉建议')}</h2>
    </div>
    <div class="header_r"></div>
</div>
<div class="big_width100">
    <div class="opiniontop_d">
        <div class="opiniontop">
            <p>{:lang('请在下方输入您的宝贵意见')}</p>
        </div>
        <div class="opinion">
            <textarea name="introduce" id="introducebb" rows="8" placeholder="{:lang('请输入')}..."></textarea>
        </div>
        <!-- <div class="container">
            <div class="z_photo">
                <div class="z_file">
                    <input type="file" name="file" id="file" value="" accept="image/*" multiple onchange="imgChange('z_photo','z_file');" />
                </div>
            </div>
            <div class="z_mask">
                <div class="z_alert">
                    <p>确定要删除这张图片吗？</p>
                    <p>
                        <span class="z_cancel">取消</span>
                        <span class="z_sure">确定</span>
                    </p>
                </div>
            </div>
        </div> -->
    </div>
    <div class="buttonGeoup">
        <a href="javascript:void(0);"  class="not_next" id="cuanjdd">{:lang('确定')}</a>
    </div>
</div>
{/block}
{block name="js"}
<script>
    $('#cuanjdd').click(function () {
        var content = $('#introducebb').val();
        if(content == ''){
            msg_alert('{:lang("请填写内容")}');
            return false;
        }
        $.ajax({
            url:'/mobile/User/complaint',
            type:'post',
            data:{'content':content},
            datatype:'json',
            success:function (mes) {
                msg_alert(mes.mes,mes.url);
            }
        })
    })
</script>
{/block}