{extend name="base"/}
{block name="title"}
{:lang('转出')}
{/block}
{block name="css"}
<link rel="stylesheet" href="__MOBILE__/css/yangStyle.css">
<style>
.w_zccontent{margin: 1.4rem .4rem 0;background: #fff;border-radius: .2rem;padding: 0 .4rem;}
.w_yonghu{width: 100%;padding: .8rem 0; text-align: center;}
.w_yonghu img{width: 1.2rem;height: 1.2rem;border-radius: 50%;}
.w_yonghu h1{line-height: .6rem;font-size: .3rem;color: #333;}
.w_yonghu p{line-height: .3rem;font-size: .24rem;color: #333;}
.w_zcjine{margin-bottom: .8rem;}
.w_zcjine h2{font-size: .28rem;color: #333;margin-bottom: .2rem;}
.w_zcjine input{width: 100%;height: .9rem;border-bottom: 1px solid #bdbdbd;margin-bottom: .4rem;line-height: .9rem;padding-left: .7rem;font-size: .6rem;font-weight: bold;color: #000;}
.w_zcjine .w_input{position: relative;width: 100%;}
.w_zcjine .w_input span{position: absolute;top: .15rem;left: 0;font-size: .6rem;font-weight: bold;color: #000;}
.w_zcjine a{font-size: .28rem;color: #333;}
.w_zcjine .w_tjbz{text-align: left;}
.w_zcjine .w_zcjl{float: right;}
.buttonGeoup{padding-bottom: .9rem;}
</style>
{/block}
{block name="content"}
<div class="header">
    <div class="header_l" style="width:33.3%;">
        <a href="{:url('/mobile/User/moneycode')}"><img src="__MOBILE__/images/jiant.png" alt=""></a>
    </div>
    <div class="header_c" style="width:33.3%;"><h2>{:lang('转出')}</h2></div>
</div>

<div class="w_zccontent">
    <div class="w_yonghu">
        <img src="{$userInfo.head_img}" alt="">
        <h1>{:lang('用户昵称')}&nbsp;&nbsp;({$userInfo.nickname})</h1>
        <p><?php echo substr_replace($userInfo['mobile'],'****',3,4)?></p>
    </div>
    <div class="w_zcjine">
        <h2>{:lang('转出金额')}</h2>
        <div class="w_input">
            <span>$</span>
            <input type="number" name="other_account" id="oper_1" class="paynums" >
            <input type="hidden" name="" id="" class="trid" value="{$trid}">
        </div>
        <!--<a href="##" class="w_tjbz">添加备注</a>-->
        <!--<a href="##" class="w_zcjl">转出记录</a>-->
    </div>
    <div class="buttonGeoup">
        <a href="javascript:void(0);" class="not_next ljzf_but " id="operConfirm">{:lang('确认转出')}</a>
    </div>
</div>

 <!--浮动层-->
 <div class="ftc_wzsf" >
    <div class="srzfmm_box">
        <div class="qsrzfmm_bt clear_wl">
            <img src="__MOBILE__/images/xx_03.jpg" class="tx close fl">
            <span class="fl">{:lang('请输入支付密码')}</span></div>
        <div class="zfmmxx_shop">
            <div class="mz">{:lang('支付')}:  {$userInfo.nickname}  </div>
            <div class="zhifu_price">88.88</div></div>
        <ul class="mm_box">
            <li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
    
    </div>
    <div class="numb_box">
        <div class="xiaq_tb">
            <img src="__MOBILE__/images/jftc_14.jpg" height="10"></div>
        <ul class="nub_ggg">
            <li><a href="javascript:void(0);" class="zf_num">1</a></li>
            <li><a href="javascript:void(0);" class="zj_x zf_num">2</a></li>
            <li><a href="javascript:void(0);" class="zf_num">3</a></li>
            <li><a href="javascript:void(0);" class="zf_num">4</a></li>
            <li><a href="javascript:void(0);" class="zj_x zf_num">5</a></li>
            <li><a href="javascript:void(0);" class="zf_num">6</a></li>
            <li><a href="javascript:void(0);" class="zf_num">7</a></li>
            <li><a href="javascript:void(0);" class="zj_x zf_num">8</a></li>
            <li><a href="javascript:void(0);" class="zf_num">9</a></li>
            <li><a href="javascript:void(0);" class="zf_empty">{:lang('清空')}</a></li>
            <li><a href="javascript:void(0);" class="zj_x zf_num">0</a></li>
            <li><a href="javascript:void(0);" class="zf_del">{:lang('删除')}</a></li>
        </ul>
    </div>
    <div class="hbbj"></div>
</div>
{/block}
{block name="js"}
<script>
    $('#operConfirm').on('click', function(){
		   var paytype = $(".pay_list_c1.on p input").val();//转账方式
		   var paynums=($('.paynums').val());//支付金额
		//    var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
              var reg = /^[0-9]*[1-9][0-9]*$/;

		//    var mobila=$('.mobilelast').val();//手机号码后四位
            // var exg = /^(([1-9]\d*)|\d)(\.\d{1,2})?$/;
		   if (!reg.test(paynums)) {
				msg_alert('{:lang("请输入正确的转账金额")}!');
               return;
           }

        //    var exg=/^\d{4}$/
		// 	 if(!exg.test(mobila)){
		// 		 msg_alert('请输入手机号末4位数');
		// 		 return;
		// 	}
			$('.zhifu_price').text('$'+paynums);
            $(".ftc_wzsf").show();
		  });


		//获取数据传值
	   function Getvalue() {
           var paynums = Number($('.paynums').val());//支付金额
           var trid = $('.trid').val();//转账会员id
           var data={'paynums':paynums,'trid':trid};
           return data;
       }

       // $(function(){
        //出现浮动层
        $(".ljzf_but").click(function(){
            // $(".ftc_wzsf").hide();
           
        });
        //关闭浮动
        $(".close").click(function(){
            $(".ftc_wzsf").hide();
            $(".mm_box li").removeClass("mmdd");
            $(".mm_box li").attr("data","");
            i = 0;
        });
            //数字显示隐藏
        $(".xiaq_tb").click(function(){
            $(".numb_box").slideUp(500);
        });
        $(".mm_box").click(function(){
            $(".numb_box").slideDown(500);
        });
            //----
        var i = 0;
        $(".nub_ggg li .zf_num").click(function(){
            if(i<6){
                $(".mm_box li").eq(i).addClass("mmdd");
                $(".mm_box li").eq(i).attr("data",$(this).text());
                i++
                if (i==6) {
                  setTimeout(function(){
                    var pwd = "";
                        $(".mm_box li").each(function(){
                            pwd += $(this).attr("data");
                    });

                    //ajax提交密码以及参数
                      var post_data=Getvalue();//获取上面的参数
					  $.ajax({
						  url:'/mobile/User/Changeout',
						  type:'post',
						  data:{'post_data':post_data,'pwd':pwd},
						  datatype:'json',
						  success:function (mes) {
							  if(mes.status == 1){
                                  msg_alert(mes.msg,mes.url);
                                  $(".ftc_wzsf").hide();
                                  $(".mm_box li").removeClass("mmdd");
                                  $(".mm_box li").attr("data","");
                                  i = 0;
							  }else{
                                  msg_alert(mes.msg);
                                  $(".mm_box li").removeClass("mmdd");
                                  $(".mm_box li").attr("data","");
                                  i = 0;
							  }
                          }
					  })
                  },100);
                };
            }
        });
            
        $(".nub_ggg li .zf_del").click(function(){
            if(i>0){
                i--
                $(".mm_box li").eq(i).removeClass("mmdd");
                $(".mm_box li").eq(i).attr("data","");
            }
        });

        $(".nub_ggg li .zf_empty").click(function(){
            $(".mm_box li").removeClass("mmdd");
            $(".mm_box li").attr("data","");
            i = 0;
        });
</script>
{/block}