{extend name="base"/}
{block name="css"}	<link rel="stylesheet" href="__ADMIN_/css/user.css" media="all" />{/block}
{block name="content"}
	<blockquote class="layui-elem-quote news_search">
			<div class="layui-inline">
					<div class="layui-input-inline">
						<input type="text" class="layui-input searchVal" placeholder="请输入搜索的id">
					</div>
					<a class="layui-btn search_btn" data-type="reload">搜索</a>
				</div>
		
	</blockquote>
	
	
	<table id="list" lay-filter="role" ></table>
	
{/block}

	{block name="js"}<script type="text/javascript" src="__ADMIN__/js/wbaolist.js"></script>{/block}
