{extend name="base"/}
{block name="content"}
	<form id="userform" class="layui-form" style="width:80%;" enctype="multipart/form-data">
		<div class="layui-form-item">
			<label class="layui-form-label">昵称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input dataIntegral" name="nickname" value="{$data.nickname}" lay-verify="required"  placeholder="请输入">
				<input type="hidden" name="id" value="{$data.id}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input dataIntegral" name="mobile" value="{$data.mobile}"  lay-verify="required" placeholder="请输入">
				<input type="hidden" name="id" value="{$data.id}" >
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">登录密码</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input dataIntegral" name="pwd" value="" lay-verify=""  placeholder="请输入">
				<input type="hidden" name="id" value="{$data.id}" >
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">支付密码</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input dataIntegral" name="safety_pwd" value="" lay-verify=""  placeholder="请输入">
				<input type="hidden" name="id" value="{$data.id}" >
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">头像</label>
			<div class="layui-input-block">
				<div class="layui-input-inline">
						<button type="button" class="layui-btn layui-btn-normal" id="test1">修改图片</button>
						<p id="demoText"></p>
				</div>
				<div class="layui-input-inline">
					<img id="preview" width="80px" src="{$data.head_img}" >
				</div>
	
			</div>		
		</div>
		<!-- <div class="layui-form-item">
			<label class="layui-form-label">等级</label>
			<div class="layui-input-block">
				<!-- <input type="text" class="layui-input dataIntegral" name="level" value="{$data.level}"  placeholder="请输入">
				<input type="hidden" name="id" value="{$data.id}" > -->
				<!-- <select name="level" >
					<option value="1" {if condition= "$data.level eq 0"} selected {/if}>0</option>
					<option value="1" {if condition= "$data.level eq 1"} selected {/if}>1</option>
					<option value="2"{if condition= "$data.level eq 2"} selected {/if}>2</option>
					<option value="3"{if condition= "$data.level eq 3"} selected {/if}>3</option>
					<option value="4" {if condition= "$data.level eq 4"} selected {/if}>4</option>
					<option value="5" {if condition= "$data.level eq 5"} selected {/if}>5</option>
					<option value="6" {if condition= "$data.level eq 6"} selected {/if}>6</option>
				</select>
			</div>
		</div> --> 
		
		<div class="layui-form-item">
				<label class="layui-form-label">是否禁用</label>
				<div class="layui-input-block">
					<!-- <input type="text" class="layui-input dataIntegral" name="level" value="{$data.level}"  placeholder="请输入">
					<input type="hidden" name="id" value="{$data.id}" > -->
					<select name="disable" >
						<option value="0" {if condition= "$data.disable eq 0"} selected {/if}>禁用</option>
						<option value="1" {if condition= "$data.disable eq 1"} selected {/if}>启用</option>
						
					</select>
				</div>
			</div>
		<div class="layui-form-item">
			<label class="layui-form-label">推荐人</label>
			<div class="layui-input-block">
				<input type="text" disabled= "true " class="layui-input dataMoney" name="parent_id" value="{$data.parent_id}" lay-verify="required" placeholder="请输入">
			</div>
		</div>
		{:token()}
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="edituser">立即提交</button>
				<!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
		    </div>
		</div>
	</form>
	
	

{/block}
	{block name="js"}<script type="text/javascript" src="__ADMIN__/js/detailsAdd.js"></script>{/block}