{extend name="base"/}
{block name="title"}
    转出记录
{/block}
{block name="css"}
<link rel="stylesheet" href="__MOBILE__/css/yangStyle.css">
<style>
    body{ background: #f5f5f5;margin-top: .92rem;}
</style>
{/block}
{block name="content"}
    <div class="header">
	    <div class="header_l">
            <a href="{:url('/mobile/Index/index')}"><img src="__MOBILE__/images/jiant.png" alt=""></a>
	    </div>
	    <div class="header_c"><h2>{:lang('转出记录')}</h2></div>
	    <div class="header_r"></div>
	</div>

    <div class="big_width100">
        {if $res==1}
        {foreach name="wallet" id="row"}
        <div class="annal_ul">
            <div class="annal_ul_l">
                <img src="{$row['head_img']}" alt="">
                <div class="annal_p">
                    <p>{$row['name']}</p>
                    <p>UID:{$row['second_people_id']}</p>
                </div>
            </div>
            <div class="annal_ul_r">
                <div class="annal_p">
                    <p class="zhuanrua">-{$row['money']}</p>
                    <p>{$row['create_time']}</p>
                </div>
            </div>
        </div>
        {/foreach}
        {else /}
        <span style='color:#666;display: block;min-width:2rem;text-align:center;margin:1.5rem auto;'>{:lang('暂无转出记录')}</span>
        {/if}
    </div>
{/block}
{block name="js"}
{/block}
