
    <div class="w_tjdiv">
        <span class="w_shopline">—&nbsp;&nbsp;{:lang('推荐商家')}&nbsp;&nbsp;—</span>
    </div>
    <ul>
        {foreach $business as $key=>$vo}
        <li>
            <a href="{:url('/mobile/shop/product',['id'=>$vo.userid])}">
                <img src="{$vo.shop_img}" alt="">
                <div class="w_yjright">
                    <div class="w_kmright">
                        <h2>{$vo.name}</h2>
                        <h3> 
                            <span>{$vo.juli}m</span>
                        </h3>
                    </div>
                    <div class="w_font">
                        {$vo.address}
                    </div>
                </div>
            </a>
        </li>
        {/foreach}
    </ul>