{extend name="base"/}
{block name="title"}
    商城首页
{/block}
{block name="css"}
<link rel="stylesheet" href="__MOBILE__/css/wenStyle.css"/>
<link rel="stylesheet" href="__MOBILE__/css/shop.css">
{/block}
{block name="content"}
<iframe id="geoPage" width=0 height=0 frameborder=0  style="display:none;" scrolling="no"
    src="https://apis.map.qq.com/tools/geolocation?key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp">
</iframe>
<!-- 头部 -->
<div class="fxm_header">
    <div class="fxm_left">
        <a href="{:url('/mobile/index/index')}"><img src="__MOBILE__/images/jiant.png" alt=""></a>
    </div>
    <div class="fxm_center">{:lang('商城首页')}</div>
</div>
<!-- 轮播图 -->
<div class="swiper-container myimg">
    <div class="swiper-wrapper imgbox">
        <div class="swiper-slide"><img src="__MOBILE__/images/banner-1.png"></div>
        <div class="swiper-slide"><img src="__MOBILE__/images/banner-2.png"></div>
        <div class="swiper-slide"><img src="__MOBILE__/images/banner-3.png"></div>
    </div>
    <div class="swiper-pagination"></div>
</div> 
<!-- 商品分类 -->
<div class="fenlei_bg clearfix">
    <div class="dp_fenlei">
        <ul class="w_shang">
            {foreach $shopType as $key=>$vo}
            <li><a href="{:url('/mobile/shop/search',['id'=>$vo.typeid])}"><img style="width: 46px;height: 46px" src="{$vo.image}">{$vo.type_name}</a></li>
            {/foreach}
        </ul>
    </div>
</div>
<!-- 商品图片 -->
<div class="w_shoptp">
    <div class="w_shoptpleft">
        <a href="{:url('/mobile/shop/search')}"><img src="__MOBILE__/images/1.png"></a>
    </div>
    <div class="w_shoptpright">
        <div class="w_shoptprtop">
            <a href="{:url('/mobile/shop/search')}"><img src="__MOBILE__/images/2.png"></a>
        </div>
        <div class="w_shoptprbottom">
            <div class="w_leftxiao">
                <a href="{:url('/mobile/shop/search')}"><img src="__MOBILE__/images/3.png"></a>
            </div>
            <div class="w_rightxiao">
                <a href="{:url('/mobile/shop/search')}"><img src="__MOBILE__/images/4.png"></a>
            </div>
        </div>
    </div>
</div>
 <!-- 推荐商家 -->
<div class="w_tuijian">
    
</div>
<!-- 底部 -->
<!-- <div class="footer-fan">
    <a href="{:url('/mobile/index/index')}">
        <i class="iconfont icon-shouye"></i>
        <p>{:lang('首页')}</p>
    </a>
    <a href="{:url('/mobile/Digitalassets/index')}">
        <i class="iconfont icon-money"></i>
        <p>{:lang('资产')}</p>
    </a>
    <a href="{:url('/mobile/Shop/index')}" class="active">
        <i class="iconfont icon-shangcheng"></i>
        <p>{:lang('商城')}</p>
    </a>
    <a href="{:url('/mobile/user/index')}">
        <i class="iconfont icon-jingjirenjinglikehuxianxingcopy"></i>
        <p>{:lang('我的')}</p>
    </a>
</div> -->
{/block}
{block name="js"}
<script type="text/javascript" src="__MOBILE__/js/swiper.min.js"></script>
<script>
    // 轮播图
    var mySwiper = new Swiper(".swiper-container",{
    direction:"horizontal",
    loop:true,
    pagination:".swiper-pagination",
    autoplay:3000,
    autoplayDisableOnInteraction : false,
    });
$(function () {
    $.get("{:url('/mobile/login/hongbao')}",function(res){
        var data = eval('(' + res + ')');
        if(data[0].hongbao=='1'){
            $('.money-pag').hide();
        }else{
            $('.money-pag').show();
            $('.getnums').html(data[0].money)
        } 
    })
    $('#hide').click(function () {
        $.get("{:url('/mobile/login/linghongbao')}",function(res){
            var data=eval('(' + res + ')');
            //console.log(data.type)
            if(data.type==1){
                $('.money-pag').hide();
                window.location.reload();
            }else{
                $('.money-pag').show();
            }
        })
    })
})
</script>
<script type="text/javascript" src="__MOBILE__/js/swiper.min.js"></script>
<script>
    window.addEventListener('message', function(event) {
        // 接收位置信息
        var loc = event.data
            ,storage = window.localStorage;
        if (loc != null) {
            var city = loc.city
            ,lat = loc.lat
            ,lng = loc.lng
            $.ajax({
            url: '/mobile/shop/index'
            ,type: 'GET'
            ,data: {city: city, lat: lat, lng: lng}
            ,success: function(res) {
                $('.w_tuijian').html(res);
            }
        });
        }
}, false);
</script>
{/block}
