{extend name="base"/}
{block name="content"}
<form class="layui-form" id="complaintForm" >
	<input type="hidden" class="layui-input"  value="{$data.id}" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label">投诉人id</label>
        <div class="layui-input-block">
            <input type="text" name="name" class="layui-input newsName" readonly value="{$data.userid}" >
        </div>
    </div>
	<div class="layui-form-item">
		<label class="layui-form-label">投诉人昵称</label>
		<div class="layui-input-block">
			<input type="text" name="nums" value="{$data.nickname}" readonly class="layui-input newsName"  >
		</div>
	</div>
    <div class="layui-form-item">
        <label class="layui-form-label">投诉人电话</label>
        <div class="layui-input-block">
            <input type="text" name="limit" value="{$data.mobile}" readonly class="layui-input  newsName"  >
        </div>
    </div>
	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">投诉内容</label>
		<div class="layui-input-block">
			<textarea name="desc"  class="layui-textarea" readonly>{$data.content}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">投诉状态</label>
		<div class="layui-input-block">
			<select name="status" lay-verify="required" id="status">
				{foreach $status as $key => $value}
				<option value="{$key}" {if condition="$key == $data.status"} selected {/if} >{$value}</option>
				{/foreach}
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">投诉时间</label>
		<div class="layui-input-block">
			<input type="text" name="time" class="layui-input newsName" readonly value="{$data.create_time}" lay-verify="required" >
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="complaintEdit">立即提交</button>
		</div>
	</div>
</form>
{/block}
{block name="js"}<script type="text/javascript" src="__ADMIN__/js/complaintEdit.js"></script>{/block}
